/* Write your CSS here */
.balu {
  display: flex;
  flex-direction: column;
  background-image: url("https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png");
  height:100vh;
  background-size: cover;
}
ul {
  display: flex;
  flex-wrap: wrap;
}
.lol {
  display: flex;
  justify-content: center;
}
.pool {
  height: 50px;
  width: 50px;
}
